<% content_for(:title) do 'Styleguide' end %>

<h1 class="h1">styleguide</h1>

<p>The foundation of this styleguide is built using smart single-purpose classes. I call them smart because they can adapt to the context within which they're used to provide styles complementary to their core purpose. For instance, the <code>.text-red</code> class will make any text red, but the <code>.bg-red</code> class not only makes the background red but also adjusts the text color to provide proper contrast. If used on an element that has state, such as a link or button, <code>.bg-*</code> and <code>.text-*</code> classes go a step further to provide <code>:hover</code> and <code>:focus</code> indication that aligned with the style of this guide.</p>
