<% content_for(:title) do 'Origami Owl' end %>
<h1 class="h1">Origami Owl</h1>
<p class="lead">Ecommerce site for customized jewelry</p>

<a href="https://www.origamiowl.com/" class="button bg-teal">
  Visit the Website
</a>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/origami-owl/designer-enrollment') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/origami-owl/address-verification') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/origami-owl/address-verified') %>" />
  </div>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/origami-owl/checkout-review') %>" />
  </div>
</div>
