<nav class="menu" data-drawer>
  <button type="button" class="menu-toggle" data-drawer-toggle>
    <div class="icon-hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span class="sr-only">Toggle navigation</span>
  </button>
  <div class="menu-items">
    <a href="<%= intro_path %>">Home</a>
    <a href="">Work</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </div>
</nav>
