<% content_for(:title) do %><%= t('.title') %><% end %>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card card-block">
      <h2 class="card-title">Orpheus</h2>
      <p class="card-text">
        A design document on a Starcraft 2 co-op map that focuses on hero customization and adapting your strategy to a progressively evolving swarm of enemies.
      </p>
      <a href="<%= orpheus_path %>" class="btn btn-primary">View Design Document</a>
    </div>
  </div>
</div>
