<% content_for(:title) do 'Resume' end %>
<% content_for(:heading) do %>
  <h1>Michael Drotar</h1>
<% end %>
<% content_for(:heading_extension) do %>
  <div class="resume-contact">
    <div class="resume-contact-item">610.888.2080</div>
    <div class="resume-contact-item">michaeldrotar@gmail.com</div>
  </div>
<% end %>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">
      <script>document.write((new Date()).getFullYear() - 2011)</script>
    </div>
    <div class="resume-job-duration-units">years</div>
    <div class="resume-job-duration-timeline">2011-Today</div>
  </div>
  <div class="resume-job-company">Radial</div>
  <div class="resume-job-role">Web Architect</div>
  <div class="resume-job-accomplishments">
    <p>
      I began working for GSI Commerce as a Frontend Developer for their
      Multichannel team, leveraging my user experience background to develop
      friendly and accessible store location and store pickup features for
      their website platform.
    </p>
    <p>
      Shortly after my start, eBay acquired the company and I began delving
      into the backend, fixing bugs in the code and making enhancements that
      would better support the frontend work that I was trying to accomplish.
    </p>
    <p>
      In 2012 I received an internal promotion in recognition of
      By early 2013, I was promoted to a senior-level position, but our team
      of 8 had dwindled to 3 due to numerous layoffs and re-positionings within
      the company. I remained primarily responsible for the multichannel
      frontend but also assisted with backend and server code, helping to
      enhance the java applications that ran on Tomcat, and also branching
      out to assist other teams when our work was light.
    </p>
    <p>
      Our team of 3 received many accolades during our years together.
      We started up many new projects, including a provisioning tool that would
      allow us to on-board new clients in days instead of months.
      I took the opportunity to learn Ember and Bootstrap as I felt they would
      be a good fit for the configuration front-end which was built on a
      Java server with a REST api.
    </p>
    <p>
      In late 2014, we started up a new project to get away from building
      webstore frontends and to focus on our powerful backend architecture.
      Our team more than doubled in size, including the acquisition of a
      talented architect that proposed using Ruby on Rails for this project.
      It proved to be an awesome fit and the new team got up-to-speed on it
      rather quickly as we started building out our user and client systems
      that would eventually give us the flexability to have all of our clients
      log into a single system but have access to their own secure data and
      users.
    </p>
    <p>
      By mid-2015, I was the last remaining member of our trio as my
      two co-workers and friends had moved on to other companys with
      less turnover. Many of the newer team members were in junior positions,
      so I took the opportunity to start teaching them best practices as
      I was learning the new systems most quickly and working one-on-one the
      most with our knowledgable architect.
    </p>
    <p>
      Around this time I started taking the iniative on many projects
      within our new application.
      I designed and oversaw development of the in-store return feature
      that would allow store representatives to process returns, bringing
      the team together on a regular basis to discuss our progress and
      hand out new tasks.
    </p>
    <p>
      I also began refactoring much of our earlier work and hosting
      learning sessions to educate the team on the problems I found,
      solutions that I implemented, and best practices going forward.
    </p>
  </div>
</div>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">2</div>
    <div class="resume-job-duration-units">years</div>
    <div class="resume-job-duration-timeline">2009-2011</div>
  </div>
  <div class="resume-job-company">Tata Consultancy Services</div>
  <div class="resume-job-role">MII Developer</div>
</div>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">1</div>
    <div class="resume-job-duration-units">year</div>
    <div class="resume-job-duration-timeline">2008-2009</div>
  </div>
  <div class="resume-job-company">Merion Publications, Inc.</div>
  <div class="resume-job-role">Web Developer</div>
</div>
