<% content_for(:title) do 'Resume' end %>
<% content_for(:heading) do %>
  <h1>Michael Drotar</h1>
<% end %>
<% content_for(:heading_extension) do %>
  <div class="resume-contact">
    <div class="resume-contact-item">610.888.2080</div>
    <div class="resume-contact-item">michaeldrotar@gmail.com</div>
  </div>
<% end %>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">
      <script>document.write((new Date()).getFullYear() - 2011)</script>
    </div>
    <div class="resume-job-duration-units">years</div>
    <div class="resume-job-duration-timeline">2011-Today</div>
  </div>
  <div class="resume-job-name">
    <h2>Radial</h2>
    <div class="resume-job-name-formerly">
      formerly
      <span class="resume-job-name-formerly-name">Ebay Enterprise</span>
    </div>
    <div class="resume-job-name-formerly">
      formerly
      <span class="resume-job-name-formerly-name">GSI Commerce</span>
    </div>
  </div>
  <div class="resume-job-role">
    <div class="resume-job-role-name"><h3>Product Architect</h3></div>
    <div class="resume-job-role-timeline">2016-Today</div>
    <div class="resume-job-role-accomplishments">
      <p>I started this role picking up</p>
      <li>Maintain consistent code quality and mentoring for team of 6 people of diverse skill levels.</li>
      <li>Promote moving to cloud-based saas services to reduce cost over in-house bare metal systems.</li>
      <li>Assist cross-team communication to answer questions quickly and keep progress moving</li>
      <li>Estimate, architect, educate, and deliver highly visible order modification feature
    </div>
  </div>
  <div class="resume-job-role">
    <div class="resume-job-role-name"><h3>Senior Developer</h3></div>
    <div class="resume-job-role-timeline">2013-2016</div>
    <div class="resume-job-role-accomplishments">
      <p>I started this role picking up</p>
    </div>
  </div>
  <div class="resume-job-role">
    <div class="resume-job-role-name"><h3>Frontend Developer</h3></div>
    <div class="resume-job-role-timeline">2011-2013</div>
    <div class="resume-job-role-accomplishments">
      <p>I started this role picking up</p>
    </div>
  </div>
</div>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">2</div>
    <div class="resume-job-duration-units">years</div>
    <div class="resume-job-duration-timeline">2009-2011</div>
  </div>
  <div class="resume-job-name">
    <h2>Tata Consultancy Services</h2>
  </div>
  <div class="resume-job-role">
    <div class="resume-job-role-name"><h3>Lead MII Developer</h3></div>
    <div class="resume-job-role-accomplishments">
      <p>I started this role picking up</p>
    </div>
  </div>
</div>
<div class="resume-job">
  <div class="resume-job-duration">
    <div class="resume-job-duration-number">1</div>
    <div class="resume-job-duration-units">year</div>
    <div class="resume-job-duration-timeline">2008-2009</div>
  </div>
  <div class="resume-job-name">
    <h2>Merion Publications, Inc.</h2>
  </div>
  <div class="resume-job-role">
    <div class="resume-job-role-name"><h3>Retail Website Programmer</h3></div>
    <div class="resume-job-role-accomplishments">
      <p>I started this role picking up</p>
    </ul>
  </div>
</div>
