<% content_for(:title) do 'Projects' end %>
<h1 class="h1">Projects</h1>
<p class="lead">Check out my latest projects</p>
<div class="grid-2-sm">
  <% @projects.each do |project| %>
    <div>
      <a href="<%= static_section_path(section: 'projects', page: project.id) %>" class="preview">
        <h2 class="preview-title"><%= project.name %></h2>
        <div class="preview-image" style="background-image: url('<%= image_path("screenshots/#{project.id}/preview") %>')"></div>
      </a>
    </div>
  <% end %>
</div>
