<% content_for(:title) do 'Resume' end %>
<h1 class="h1">Michael Drotar</h1>
<div class="row">
  <div class="col-lg-8">
    <div class="resume-job">
      <div class="resume-job-duration">
        <div class="resume-job-duration-number">
          <script>
            (function() {
              var today = new Date(),
                  startDate = new Date("11/07/2011"),
                  elapsed = today - startDate,
                  millisecondsInYear = 1000*60*60*24*365.25,
                  years = Math.round(elapsed/millisecondsInYear);
              document.write(years);
            })();
          </script>
        </div>
        <div class="resume-job-duration-units">years</div>
        <div class="resume-job-duration-timeline">2011-Today</div>
      </div>
      <div class="resume-job-company">Radial</div>
      <div class="resume-job-role">Senior Web Architect</div>
      <ul class="resume-job-accomplishments">
        <li>Led team to develop an opinionated pattern library based on bootstrap</li>
        <li>Worked across design, ui, and api teams to architect order modification solution</li>
        <li>Mentored team of frontend developers to deliver robust, enterprise-quality code</li>
      </ul>
      <div class="resume-job-role">Senior Web Developer</div>
      <ul class="resume-job-accomplishments">
        <li>Designed and developed a frontend for a provisioning service configuration app that used Ember and integrated with LimeSurvey</li>
        <li>Designed modern a modern store locator feature, designed and developed a modern in-store pickup feature</li>
      </ul>
      <div class="resume-job-role">Web Developer</div>
      <ul class="resume-job-accomplishments">
        <li>Took initiative to also learn java backend and make necessary peer-reviewed code changes to facilitate frontend work</li>
        <li>Worked on a variety of different teams including filling in for a frontend lead during an extended vacation, architecting a solution to create a mobile-friendly version of the product, and integrating services across teams into a shared developer portal</li>
      </ul>
    </div>
    <div class="resume-job">
      <div class="resume-job-duration">
        <div class="resume-job-duration-number">2</div>
        <div class="resume-job-duration-units">years</div>
        <div class="resume-job-duration-timeline">2009-2011</div>
      </div>
      <div class="resume-job-company">Tata Consultancy Services</div>
      <div class="resume-job-role">MII Developer</div>
      <ul class="resume-job-accomplishments">
        <li>Engineered web interface from the ground up for interfacing with factory machines using MII's adapters</li>
        <li>Worked on-site with client to understand daily needs and drive product vision</li>
      </ul>
    </div>
    <div class="resume-job">
      <div class="resume-job-duration">
        <div class="resume-job-duration-number">1</div>
        <div class="resume-job-duration-units">year</div>
        <div class="resume-job-duration-timeline">2008-2009</div>
      </div>
      <div class="resume-job-company">Merion Publications, Inc.</div>
      <div class="resume-job-role">Web Developer</div>
      <ul class="resume-job-accomplishments">
        <li>Built weighted product search engine using .Net and SQL transactions</li>
        <li>Worked one-on-one with clients to understand needs and create helpful tools to improve their daily processes</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4">
    <ul class="resume-proficiencies">
      <li class="good">accessability</li>
      <li>agile</li>
      <li class="better">alphabetization</li>
      <li>angular</li>
      <li>architecture design</li>
      <li class="better">bootstrap</li>
      <li class="best">code reviews</li>
      <li>critical thinking</li>
      <li>docker</li>
      <li>ember</li>
      <li>hallway testing</li>
      <li>initiative</li>
      <li class="good">management</li>
      <li>node.js</li>
      <li class="better">organization</li>
      <li>problem solving</li>
      <li class="good">responsive design</li>
      <li class="better">ruby on rails</li>
      <li class="best">teaching</li>
      <li class="good">team building</li>
    </ul>
  </div>
</div>
