<% content_for(:title) { 'Login' } %>

<%= form_tag(session_path(:user), class: 'form sign-in-form container container--small') do %>
  <p>
    Ready to take your experience to the next level?
    Logging in is simple and provides these amazing benefits...
  </p>
  <ul>
    <li>Your email address will appear in the site navigation</li>
    <li>The login link will be replaced with a logout link instead</li>
  </ul>
  <p>
    Don't have an account?
    Just provide your email and one will be created for you!
  </p>

  <%#= link_to 'Facebook', omniauth_authorize_path(:user, :facebook), class: 'omniauth-action omniauth-action--facebook' %>
  <%#= link_to 'Google', omniauth_authorize_path(:user, :google_oauth2), class: 'omniauth-action omniauth-action--google' %>

  <label class="form-field">
    <div class="form-label">Email</div>
    <input type="email" name="user[email]">
  </label>

  <label class="form-field">
    <div class="form-label">Password</div>
    <input type="password" name="user[password]">
  </label>

  <label class="form-field">
    <input type="checkbox" name="user[remember_me]">
    <div class="form-label">Remember me</div>
  </label>

  <div class="form-actions">
    <button type="submit" class="button button--primary">
      Sign In
    </button>
  </div>
<% end %>
