<% content_for(:title) do 'Radial Pattern Library' end %>
<h1 class="h1">Radial Pattern Library</h1>
<p class="lead">Styleguide for Radial</p>

<div class="button-bar">
  <a href="http://radialcorp.gitlab.io/radial-pattern-library/" class="button" target="_blank">
    Visit the Website
  </a>
</div>

<p>
  When the opportunity presented itself, I jumped at the chance to have my team develop the styleguide for our company. We take the design comps and turn them into living components that all teams can then implement into their prjoects. The library is based on bootstrap but far more opinionated with the goal of making it easy to do the right thing and hard to do the wrong thing. Since this is a living document actively worked on, feel free to <a href="http://radialcorp.gitlab.io/radial-pattern-library/" class="link" target="_blank">visit the site</a> and browse through the code samples or use the <a href="http://gitlab.com/radialcorp/radial-pattern-library/" class="link" target="_blank">repo</a> to see how we put it all together.
</p>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/radial-pattern-library/homepage-lg') %>" />
  </div>
</div>
