<% content_for(:title) do 'Radial Pattern Library' end %>
<h1 class="h1">Radial Pattern Library</h1>
<p class="lead">Styleguide for Radial</p>

<a href="http://radialcorp.gitlab.io/radial-pattern-library/" class="button bg-teal">
  Visit the Website
</a>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/radial-pattern-library/homepage-lg') %>" />
  </div>
</div>
