<% content_for(:title) do 'Vertical Research Advisory' end %>
<h1 class="h1">Vertical Research Advisory</h1>
<p class="lead">Investment advice organization led by Kip Harrington</p>

<div class="button-bar">
  <a href="https://www.vraletter.com/" class="button" target="_blank">
    Visit the Website
  </a>
</div>

<div class="preview preview--pip">
  <div class="preview-title"></div>
  <div class="preview-image">
    <img src="<%= image_path('screenshots/vertical-research-advisory/homepage-lg') %>" />
    <img src="<%= image_path('screenshots/vertical-research-advisory/homepage-md') %>" />
  </div>
</div>
