$color-black: #161719;
$color-darker: #1d1f21;
$color-dark: #333;
$color-light: #969896;
$color-lighter: #c5c8c6;
$color-white: #fff;

$color-red: #cc6666;
$color-orange: #de935f;
$color-yellow: #f0c674;
$color-limegreen: #b5bd68;
$color-green: #a5cd68;
$color-teal: #8abeb7;
$color-blue: #81a2be;
$color-purple: #b294bb;

$color-facebook: #3b5998;
$color-google: #d34836;
