@import 'config';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-darker;
  color: $color-lighter;
  font: normal 16px 'Roboto Mono';
  line-height: 1.5;
}

:link {
  color: $color-blue;
}

:visited {
  color: $color-purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}
