@import 'config';

.faction {

}

.faction__action {
  color: $color-white;
  display: block;
  margin-top: .5rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
}

.faction__action--facebook {
  background-color: $color-facebook;
}

.faction__action--google {
  background-color: $color-google;
}

@media(min-width: 600px) {
  .faction {
    float: left;
    width: 50%;
  }

  .faction__action {
    font-size: 2rem;
    padding: 10rem 0;
  }
}
