/*
.logo {
  display: block;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 40px;
}

.logo-border-inner-1,
.logo-border-inner-2,
.logo-border-outer-1,
.logo-border-outer-2 {
  background-color: $brand-primary;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  transition: transform .2s;
  width: 30px;
}

.logo-border-outer-1 {
  transform: translateX(30px) translateY(-10px);
}

.logo-border-outer-2 {
  transform: translateX(-20px) translateY(20px);
}

.logo-cover-inner,
.logo-cover-outer {
  background-color: $body-bg;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 1px;
}

.logo-cover-inner {
  height: 34px;
  left: 2px;
  top: 2px;
  width: 34px;
}

.logo-cover-outer {
  height: 38px;
  width: 38px;
}

.logo-text {
  font-size: 16px;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}


.logo-line {
  stroke: $brand-primary;
  stroke-width: 2;
}

.logo-m {
  fill: #cc6666;
  stroke: #cc6666;
}

.logo-d {
  fill: #00487C;
  stroke: #00487C;
}
*/
