@import 'config';

.navbar {
  position: relative;
  z-index: 1;
}

.navbar-bar {
  background-color: $color-black;
  color: $color-light;
  left: 0;
  padding: .5rem .75rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &::after {
    clear: both;
    content: '';
  }
}

.page--with-navbar {
  padding-top: 3.25rem;
}

@keyframes navbar-brand-grow {
  0% { color: $color-lighter; transform: translateY(0); }
  25% { color: $color-dark; transform: translateY(.2rem); }
  50% { color: $color-lighter; transform: translateY(0); }
  75% { color: $color-white; transform: translateY(-.2rem); }
  100% { color: $color-lighter; transform: translateY(0); }
}

@keyframes navbar-brand-shrink {
  0% { color: $color-lighter; transform: translateY(0); }
  25% { color: $color-white; transform: translateY(-.2rem); }
  50% { color: $color-lighter; transform: translateY(0); }
  75% { color: $color-dark; transform: translateY(.2rem); }
  100% { color: $color-lighter; transform: translateY(0); }
}

.navbar-brand {
  font-size: 1.2rem;
  left: 0;
  padding: .75rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar-brand:link,
.navbar-brand:active,
.navbar-brand:visited {
  color: inherit;
}

.navbar-brand__letter {
  animation: navbar-brand-grow 4s linear infinite;
  animation-play-state: paused;
  display: block;
  float: left;
}

.navbar-brand__letter:nth-child(even) {
  animation-name: navbar-brand-shrink;
}

.navbar-brand__letter:hover {
  animation-play-state: running;
}

.navbar-toggle {
  background-color: inherit;
  border-radius: .25em;
  border-style: none;
  color: inherit;
  float: right;
  font-size: 1.25rem;
  line-height: 1;
  padding: .5rem .75rem;
}

.navbar-items {
  background-color: transparentize($color-black, .1);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 3.25rem;
  transform: translateY(-100%);
  transition: transform .2s, visibility .2s;
  visibility: hidden;
  width: 100%;
}

.page--with-navbar.is-open .navbar-items {
  transform: translateY(0);
  visibility: visible;
}

.navbar-subitems {
  border-top: 1px solid $color-darker;
}

.navbar-item {
  display: block;
  padding: .5rem .75rem;
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.page--with-navbar .container {
  overflow: auto;
  transform: translateX(0);
  transition: transform .2s;
  width: 100%;
}

.page--with-navbar.is-open .container {
  //transform: translateX(80%);
}
