.omniauth-action {
  color: $color-white;
  display: block;
  margin-top: .5rem;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
}

.omniauth-action--facebook {
  background-color: $color-facebook;
}

.omniauth-action--google {
  background-color: $color-google;
}
