@import 'config';

.orpheus-power-text {
  color: $color-red;
}

.orpheus-health-text {
  color: $color-green;
}

.orpheus-mastery-text {
  color: $color-purple;
}

.orpheus-hero {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin: .5rem 0;
  position: relative;
}

.orpheus-hero__name {
  padding-top: 15rem;
  text-align: center;
}

.orpheus-hero__image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  height: 7rem;
  width: 100%;
}

.orpheus-hero__cost {
  left: 0;
  position: absolute;
  top: 3.5rem;
}

.orpheus-hero__stats {
}

.orpheus-hero__stat {
  color: $color-white;
  font-size: 1.2rem;
  text-transform: uppercase
}

.orpheus-hero__stat-bar {
  display: block;
  margin-bottom: .2rem;

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.orpheus-hero__stat-node {
  background-color: $color-light;
  display: block;
  float: left;
  height: .5rem;
  margin: 0 .15rem;
  width: 20%;
}

.orpheus-hero__stat--power .orpheus-hero__stat-node.is-on {
  background-color: $color-red;
  box-shadow: 0 0 .2rem $color-red;
}

.orpheus-hero__stat--health .orpheus-hero__stat-node.is-on {
  background-color: $color-green;
  box-shadow: 0 0 .2rem $color-green;
}

.orpheus-hero__stat--mastery .orpheus-hero__stat-node.is-on {
  background-color: $color-purple;
  box-shadow: 0 0 .2rem $color-purple;
}
