@import 'config';

.orpheus-hero {
  margin: .5rem 0;
  position: relative;
}

.orpheus-hero__name {
}

.orpheus-hero__image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 7rem;
  width: 100%;
}

.orpheus-hero__cost {
  left: 0;
  position: absolute;
  top: 3.5rem;
}

.orpheus-hero__stats {
  background-color: transparentize($color-darker, .1);
  position: absolute;
  right: 0;
  top: 5rem;
  width: 5rem;
}

.orpheus-hero__stat {
  font-size: .8rem;
}

.orpheus-hero__stat-bar {
  display: block;
  margin-bottom: .2rem;

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.orpheus-hero__stat-node {
  background-color: $color-light;
  display: block;
  float: left;
  height: .5rem;
  margin: 0 .15rem;
  width: .5rem;
}

.orpheus-hero__stat--power .orpheus-hero__stat-node.is-on {
  background-color: $color-red;
  box-shadow: 0 0 .2rem $color-red;
}

.orpheus-hero__stat--health .orpheus-hero__stat-node.is-on {
  background-color: $color-green;
  box-shadow: 0 0 .2rem $color-green;
}

.orpheus-hero__stat--mastery .orpheus-hero__stat-node.is-on {
  background-color: $color-purple;
  box-shadow: 0 0 .2rem $color-purple;
}
