.pageboy-upgrades {
  td {
    position: relative;
    vertical-align: bottom;
  }
}

.pageboy-upgrade {
  font-size: .8em;
  padding: 1em;
}

.pageboy-upgrade-name {
  font-size: 1.2em;
}

.pageboy-resource-costs {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: .2em;
  line-height: 1;
}

.pageboy-resource {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1.5em;
  margin-left: 1em;
  margin-right: .2em;
  position: relative;
  top: .3em;
  width: 1.5em;

  &:first-child {
    margin-left: 0;
  }
}
