.resume-contact {
  @extend .row;
}

.resume-contact-item {
  @extend .col;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

.resume-job {
  margin-top: 3rem;
  position: relative;
}

.resume-job-accomplishments {
  clear: both;
}

.resume-job-company {
  font-size: 1.4rem;
  font-weight: lighter;
  line-height: 1;
}

.resume-job-duration {
  color: $brand-primary;
  float: left;
  margin-bottom: -.5rem;
  margin-right: 1rem;
  margin-top: -.5rem;
  text-align: center;
  width: 5rem;
}

.resume-job-duration-number {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

.resume-job-duration-timeline {
  color: $gray-light;
  font-size: .8rem;
  line-height: 3;
}

.resume-job-duration-units {
  font-weight: bold;
  line-height: .5;
}

.resume-job-role {
  font-size: 1.6rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

@include media-breakpoint-up(sm) {
  .resume-job {
    padding-left: 6rem;
  }

  .resume-job-company {
    font-size: 1.6rem;
  }

  .resume-job-duration {
    left: 0;
    position: absolute;
    top: 0;
  }

  .resume-job-role {
    font-size: 2rem;
  }
}
