.grid-button {
  background-color: transparent;
  border: 0;
  display: block;
  height: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 60px;
}

.grid-button-icon {
  display: block;

  > div {
    &,
    &::before,
    &::after {
      background-color: $color-light;
      display: block;
      height: 8px;
      left: 50%;
      margin-left: -4px;
      margin-top: -4px;
      position: absolute;
      top: 50%;
      transition: transform 0.45s cubic-bezier(0.45, 0, 0, 1);
      width: 8px;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      transform: translate(-11px, 0);
    }

    &::after {
      transform: translate(11px, 0);
    }
  }

  > div:nth-child(1) {
    transform: translate(0, -11px);
  }

  > div:nth-child(2) {
    transform: translate(0, 0);
  }

  > div:nth-child(3) {
    transform: translate(0, 11px);
  }
}

.grid-button:hover,
.grid-button:focus {
  .grid-button-icon {
    > div {
      &::before {
        transform: translate(-15px, 0);
      }

      &::after {
        transform: translate(15px, 0);
      }
    }

    > div:nth-child(1) {
      transform: translate(0, -15px);
    }

    > div:nth-child(2) {
      transform: translate(0, 0);
    }

    > div:nth-child(3) {
      transform: translate(0, 15px);
    }
  }
}

.grid-button:active {
  .grid-button-icon {
    > div {
      &,
      &::before,
      &::after {
        background-color: $color-lighter;
      }
    }
  }
}
