@function breakpoint-names() {
  @return map-keys($breakpoints);
}

@function breakpoint-suffix($name) {
  @return if(breakpoint-min($name), "-"+$name, "");
}

@function breakpoint-next($name) {
  $names: breakpoint-names();
  $index: index($names, $name);
  $next: if($index < length($names), nth($names, $n + 1), null);
  @return breakpoint-min($next);
}

@function breakpoint-min($name) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name) {
  $next: breakpoint-next($name);
  @return if($next, $next - 1px, null);
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name) {
  $max: breakpoint-max($name);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between($lower, $higher) {
  @include media-breakpoint-up($lower) {
    @include media-breakpoint-down($higher) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name) {
  @include media-breakpoint-only($name, $name) {
    @content;
  }
}

.container {
  margin: 0 auto;
  max-width: $container-xs;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;

  @include media-breakpoint-up("sm") {
    max-width: $container-sm;
  }

  @include media-breakpoint-up("md") {
    max-width: $container-md;
  }

  @include media-breakpoint-up("lg") {
    max-width: $container-lg;
  }

  @include media-breakpoint-up("xl") {
    max-width: $container-xl;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;

  > div {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 1px;
    padding-bottom: $grid-gutter-width;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    position: relative;
  }
}

@each $breakpoint in breakpoint-names() {
  $suffix: breakpoint-suffix($breakpoint);

  .grid-#{$breakpoint} {
    @extend .grid;
  }

  @include media-breakpoint-up($breakpoint) {
    .grid-#{$breakpoint} > div {
      flex: 1 0 0;
    }
  }

  @for $size from 1 through 6 {
    .grid-#{$size}#{$suffix} {
      @extend .grid;
    }

    @include media-breakpoint-up($breakpoint) {
      .grid-#{$size}#{$suffix} > div {
        flex: 0 0 (100% / $size);
        max-width: (100% / $size);
      }
    }
  }
}
