.page {
  box-shadow: inset 0 0 20px 5px darken($body-bg, 10%);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.page-controls {
  display: none;

  .grid-button {
    left: $space-lg;
    position: fixed;
    top: $space-lg;
    z-index: 2;
  }

  @include media-breakpoint-up('sm') {
    display: block;
  }
}
