.preview {
  box-shadow: $space-sm $space-sm 0 0 $color-darker;
  display: block;
  margin-bottom: $space-xl;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $body-text;
    font-weight: normal;
    text-decoration: none;
  }
}

.preview--pip {
  margin-right: 10%;
}

.preview-image {
  background-color: $color-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: percentage(308/560);
  position: relative;
  transition: 0.2s background-size;

  a:hover &,
  a:focus & {
    background-size: 105%;
  }
}

.preview--pip .preview-image {
  padding-bottom: 0;

  img {
    display: block;
    width: 100%;
  }

  img + img {
    box-shadow: 0 0 1px 1px $color-black;
    max-height: 90%;
    max-width: 20%;
    position: absolute;
    right: -10%;
    top: 50px;
    width: auto;
  }
}

.preview-title {
  background-color: $color-lighter;
  display: block;
  font-size: $font-size-xs;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 26px;
  min-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
