.preview {
  box-shadow: $space-sm $space-sm 0 0 $color-darker;
  display: block;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $body-text;
    font-weight: normal;
    text-decoration: none;
  }
}

.preview-image {
  background-color: $color-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: percentage(308/560);
  transition: 0.2s background-size;

  a:hover &,
  a:focus & {
    background-size: 105%;
  }
}

.preview-title {
  background-color: $color-lighter;
  display: block;
  font-size: $font-size-xs;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
