@media print {
  html,
  body,
  .menu-items {
    background-color: white;
  }

  .h1,
  .intro-heading,
  .resume-job-duration,
  .resume-job-duration-timeline {
    color: $body-text;
  }

  .intro,
  .page,
  .screen {
    box-shadow: none;
  }

  .page,
  .ss-container,
  .ss-content,
  .ss-wrapper {
    float: none;
    height: auto;
    overflow: visible;
    position: static;
  }

  .menu,
  .ss-scroll {
    display: none;
  }
}
