.screen {
  background-color: $color-dark;
  box-shadow: $space-sm $space-sm 0 0 $color-darker;
  display: block;
  margin-bottom: $space-xl;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    font-weight: normal;
    text-decoration: none;
  }
}

.screen-title {
  background-color: $color-lighter;
  color: $color-dark;
  display: block;
  font-size: $font-size-xs;
  font-weight: normal;
  height: 26px;
  letter-spacing: 1px;
  line-height: 26px;
  overflow: hidden;
  padding: 0 60px;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    background-color: $color-red;
    border-radius: 50%;
    box-shadow:
      17px 0 0 0 $color-yellow,
      34px 0 0 0 $color-green;
    height: 11px;
    left: 8px;
    top: 7px;
    width: 11px;
  }

  &::after {
    background-color: lighten($color-lighter, 25%);
    border-radius: 25%;
    height: 7px;
    right: 8px;
    top: 7px;
    width: 18px;
  }
}
