<%= extends 'bare' do %>
  <%= render partial: 'shared/menu' %>
  <%= render partial: 'shared/page_controls' %>
  <div class="page" ss-container>
    <div class="container">
      <%= yield %>
    </div>
  </div>
<% end %>
