{% extends "layouts/bare.njk" %}

{% block head %}
  <link rel="stylesheet" type="text/css" src="/public/">

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <title><%= content_for(:title) + ' - ' if content_for?(:title) %>michaeldrotar.com</title>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <script>
      if ( document.location.href.indexOf('localhost') === -1 ) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-61036777-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
    <%= content_for(:head) %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag('application') %>
    <%= content_for(:body) %>
  </body>
</html>



<%= extends 'bare' do %>
  <%= render partial: 'shared/menu' %>
  <%= render partial: 'shared/page_controls' %>
  <div class="page" ss-container>
    <div class="container">
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </div>
<% end %>
